In [1]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1, 3, 6, np.nan, 44, 1])  # 返回一个纵向的一系列的表
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [4]:
dates = pd.date_range('20170101', periods=6)  # pandas.date_range() -> Return a fixed frequency datetime index, with day (calendar) as the default
print(dates)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['a','b','c','d'])
print(df)

                   a         b         c         d
2017-01-01 -1.245149 -1.108639  1.265305 -0.703293
2017-01-02 -0.281751 -0.055319 -0.226188  1.753204
2017-01-03 -0.251954  0.992227  0.827644  0.057099
2017-01-04  1.464401 -0.212964  1.928017  0.007402
2017-01-05 -0.553661  0.437894  0.084916 -1.217982
2017-01-06 -0.506507  3.286344 -0.386225 -0.343505

In [11]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4))) # 行号默认为0 1 2 3 列 0 1 2 
print(df1)

# 传入字典初始化
df2 = pd.DataFrame({'A':1.,'B': pd.Timestamp('20170101'),'C':np.arange(4, dtype='int32')}) 
print(df2)
print(df2.dtypes)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
     A          B  C
0  1.0 2017-01-01  0
1  1.0 2017-01-01  1
2  1.0 2017-01-01  2
3  1.0 2017-01-01  3
A           float64
B    datetime64[ns]
C             int32
dtype: object

In [15]:
print(df2.index)

print(df2.columns)

print(df2.values)

print(df2.describe())

RangeIndex(start=0, stop=4, step=1)
Index(['A', 'B', 'C'], dtype='object')
[[1.0 Timestamp('2017-01-01 00:00:00') 0]
 [1.0 Timestamp('2017-01-01 00:00:00') 1]
 [1.0 Timestamp('2017-01-01 00:00:00') 2]
 [1.0 Timestamp('2017-01-01 00:00:00') 3]]
         A         C
count  4.0  4.000000
mean   1.0  1.500000
std    0.0  1.290994
min    1.0  0.000000
25%    1.0  0.750000
50%    1.0  1.500000
75%    1.0  2.250000
max    1.0  3.000000

In [16]:
df2

     A          B  C
0  1.0 2017-01-01  0
1  1.0 2017-01-01  1
2  1.0 2017-01-01  2
3  1.0 2017-01-01  3

In [17]:
df2.T  # df2.T df2的纵向的columns

,0,1,2,3
A,1,1,1,1
B,2017-01-01 00:00:00,2017-01-01 00:00:00,2017-01-01 00:00:00,2017-01-01 00:00:00
C,0,1,2,3

In [18]:
df2.sort_index(axis=1, ascending=False) # 倒序排列

   C          B    A
0  0 2017-01-01  1.0
1  1 2017-01-01  1.0
2  2 2017-01-01  1.0
3  3 2017-01-01  1.0

In [10]:
df2.sort_values(by='C', ascending=False) # 按照某一列的值排序

     A          B  C
3  1.0 2016-01-01  3
2  1.0 2016-01-01  2
1  1.0 2016-01-01  1
0  1.0 2016-01-01  0

In [19]:
dates = pd.date_range('20170101',periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)), index=dates, columns=['A','B','C','D'])

print(df['A']) 

print(df.A)

print(df['20170101':'20170103'])

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int64
2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int64
            A  B   C   D
2017-01-01  0  1   2   3
2017-01-02  4  5   6   7
2017-01-03  8  9  10  11

In [20]:
# label:loc
print(df.loc['20170101']) 

print(df.loc['20170101', ['A','B']])

A    0
B    1
C    2
D    3
Name: 2017-01-01 00:00:00, dtype: int64
A    0
B    1
Name: 2017-01-01 00:00:00, dtype: int64

In [21]:
# iloc
print(df.iloc[3:5, 1:3])

             B   C
2017-01-04  13  14
2017-01-05  17  18

In [22]:
print(df.ix[:3, ['A','C']])

            A   C
2017-01-01  0   2
2017-01-02  4   6
2017-01-03  8  10

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [15]:
print(df.iloc[2,2])

10

In [23]:
df['F'] = np.nan
df

             A   B   C   D   F
2017-01-01   0   1   2   3 NaN
2017-01-02   4   5   6   7 NaN
2017-01-03   8   9  10  11 NaN
2017-01-04  12  13  14  15 NaN
2017-01-05  16  17  18  19 NaN
2017-01-06  20  21  22  23 NaN

In [24]:
# 处理缺失数据

df['F'] = np.arange(6)

df.iloc[0, 0] = np.nan
df.iloc[4, 1] = np.nan

print(df)

print(df.dropna(axis=0)) # 如果有nan值，删除整行

print(df.dropna(axis=1, how='any')) # 如果有nan值，删除整列

print(df.dropna(axis=1, how='all')) # 如果全部为nan，删除列

print(df.fillna(value=0)) # 为nan 则填充为0

print(df.isnull()) # 是否为nan

print(np.any(df.isnull()) == True) # 判断是否有true

               A     B   C   D  F
2017-01-01   NaN   1.0   2   3  0
2017-01-02   4.0   5.0   6   7  1
2017-01-03   8.0   9.0  10  11  2
2017-01-04  12.0  13.0  14  15  3
2017-01-05  16.0   NaN  18  19  4
2017-01-06  20.0  21.0  22  23  5
               A     B   C   D  F
2017-01-02   4.0   5.0   6   7  1
2017-01-03   8.0   9.0  10  11  2
2017-01-04  12.0  13.0  14  15  3
2017-01-06  20.0  21.0  22  23  5
             C   D  F
2017-01-01   2   3  0
2017-01-02   6   7  1
2017-01-03  10  11  2
2017-01-04  14  15  3
2017-01-05  18  19  4
2017-01-06  22  23  5
               A     B   C   D  F
2017-01-01   NaN   1.0   2   3  0
2017-01-02   4.0   5.0   6   7  1
2017-01-03   8.0   9.0  10  11  2
2017-01-04  12.0  13.0  14  15  3
2017-01-05  16.0   NaN  18  19  4
2017-01-06  20.0  21.0  22  23  5
               A     B   C   D  F
2017-01-01   0.0   1.0   2   3  0
2017-01-02   4.0   5.0   6   7  1
2017-01-03   8.0   9.0  10  11  2
2017-01-04  12.0  13.0  14  15  3
2017-01-05  16.0   0.0  18  19  4
2017-01-06  20.0  21.0  22  23  5
                A      B      C      D      F
2017-01-01   True  False  False  False  False
2017-01-02  False  False  False  False  False
2017-01-03  False  False  False  False  False
2017-01-04  False  False  False  False  False
2017-01-05  False   True  False  False  False
2017-01-06  False  False  False  False  False
True

In [27]:
#读取文件

data = pd.read_csv('student.csv')
print(data)

data.to_pickle('student.pickle')

   StudentID    name    age   gender
0        1100   Kelly    22   Female
1        1101     Clo    21   Female
2        1102  Tilly     22   Female
3        1103    Tony    24     Male

In [26]:
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'])
df2 = pd.DataFrame(np.ones((3,4))*1, columns=['a','b','c','d'])
df3 = pd.DataFrame(np.ones((3,4))*2, columns=['a','b','c','d'])

res = pd.concat([df1,df2,df3], axis=0, ignore_index=True)
print(res)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  2.0  2.0  2.0  2.0
7  2.0  2.0  2.0  2.0
8  2.0  2.0  2.0  2.0

In [20]:
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'])
df2 = pd.DataFrame(np.ones((3,4))*1, columns=['a','b','c','e'])

print(pd.concat([df1,df2], join='outer', ignore_index=True))
print(pd.concat([df1,df2], join='inner', ignore_index=True))

     a    b    c    d    e
0  0.0  0.0  0.0  0.0  NaN
1  0.0  0.0  0.0  0.0  NaN
2  0.0  0.0  0.0  0.0  NaN
3  1.0  1.0  1.0  NaN  1.0
4  1.0  1.0  1.0  NaN  1.0
5  1.0  1.0  1.0  NaN  1.0
     a    b    c
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  1.0  1.0  1.0
4  1.0  1.0  1.0
5  1.0  1.0  1.0

In [21]:
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'],index=[1,2,3])
df2 = pd.DataFrame(np.ones((3,4))*1, columns=['a','b','c','e'],index=[2,3,4])

print(pd.concat([df1,df2], axis=1, join_axes=[df1.index])) #只考虑df1的索引

     a    b    c    d    a    b    c    e
1  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
3  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0

In [22]:
res = df1.append(df2, ignore_index=True)
print(res)

s1 = pd.Series([1,2,3,4], index=['a','b','c','d'])
res = df1.append(s1, ignore_index=True)
print(res)

     a    b    c    d    e
0  0.0  0.0  0.0  0.0  NaN
1  0.0  0.0  0.0  0.0  NaN
2  0.0  0.0  0.0  0.0  NaN
3  1.0  1.0  1.0  NaN  1.0
4  1.0  1.0  1.0  NaN  1.0
5  1.0  1.0  1.0  NaN  1.0
     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  2.0  3.0  4.0

In [28]:
left = pd.DataFrame({'key':['k0','k1','k2','k3'],
                     'A':['a0','a1','a2','a3']})

right = pd.DataFrame({'key':['k0','k1','k2','k3'],
                     'B':['b0','b1','b2','b3']})

print(left)
print(right)

print(pd.merge(left, right, on='key')) # 根据key合并

    A key
0  a0  k0
1  a1  k1
2  a2  k2
3  a3  k3
    B key
0  b0  k0
1  b1  k1
2  b2  k2
3  b3  k3
    A key   B
0  a0  k0  b0
1  a1  k1  b1
2  a2  k2  b2
3  a3  k3  b3

In [24]:
left = pd.DataFrame({'key':['k0','k1','k2','k3'],
                     'A':['a0','a1','a2','a3']})

right = pd.DataFrame({'key':['k100','k1','k2','k3'],
                      ''
                     'A':['a0','a100','a2','a3']})
 
print(pd.merge(left,right, on=['key','A'])) # 默认为inner 只找相同的 

print(pd.merge(left,right, on=['key','A'],how='right'))# 以right为准

print(pd.merge(left,right, on=['key','A'],how='outer', indicator="indicator_column"))# 以right为准

    A key
0  a2  k2
1  a3  k3
      A   key
0    a2    k2
1    a3    k3
2    a0  k100
3  a100    k1
      A   key indicator_column
0    a0    k0        left_only
1    a1    k1        left_only
2    a2    k2             both
3    a3    k3             both
4    a0  k100       right_only
5  a100    k1       right_only

In [27]:
boys = pd.DataFrame({'k':['k0','k1','k2'], 'age':[1,2,3]})
girls = pd.DataFrame({'k':['k0','k0','k3'], 'age':[4,5,6]})

res = pd.merge(boys, girls, on='k', suffixes=['_boy','_girl'], how='inner')

print(res)

   age_boy   k  age_girl
0        1  k0         4
1        1  k0         5

In [34]:
import matplotlib.pyplot as plt


data = pd.DataFrame(np.random.randn(1000,4), index=np.arange(1000), columns=list("ABCD"))

data = data.cumsum()

ax = data.plot.scatter(x='A',y='B',color='DarkBlue',label="Class 1")
data.plot.scatter(x='A',y='C',color='DarkGreen',label="Class 2",ax=ax)

plt.show()

In [ ]:
# 完